In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("placement.csv")

In [3]:
data

     cgpa  placement_exam_marks  placed
0    7.19                  26.0       1
1    7.46                  38.0       1
2    7.54                  40.0       1
3    6.42                   8.0       1
4    7.23                  17.0       0
..    ...                   ...     ...
995  8.87                  44.0       1
996  9.12                  65.0       1
997  4.89                  34.0       0
998  8.62                  46.0       1
999  4.90                  10.0       1

[1000 rows x 3 columns]

In [6]:
data.drop('placed',inplace=True, axis =1)

In [7]:
data

     cgpa  placement_exam_marks
0    7.19                  26.0
1    7.46                  38.0
2    7.54                  40.0
3    6.42                   8.0
4    7.23                  17.0
..    ...                   ...
995  8.87                  44.0
996  9.12                  65.0
997  4.89                  34.0
998  8.62                  46.0
999  4.90                  10.0

[1000 rows x 2 columns]

In [58]:
x = data.iloc[:,0].values
y = data.iloc[:,1].values

In [62]:
y_train

175    26.0
818    62.0
677    24.0
952    25.0
200    22.0
       ...
534    45.0
584    60.0
493    18.0
527    37.0
168    37.0
Name: placement_exam_marks, Length: 800, dtype: float64

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state =2)

In [36]:
data.head()

   cgpa  placement_exam_marks
0  7.19                  26.0
1  7.46                  38.0
2  7.54                  40.0
3  6.42                   8.0
4  7.23                  17.0

In [50]:
class Mylr:
  def __init__(self):
    self.m = None
    self.b = None

  def fit(self,x_train,y_train):
    #m calculate
    num = 0
    dem = 0
    for i in range(x_train.shape[0]):
      num = num + ((x_train[i]-x_train.mean())*(y_train[i]-y_train.mean()))
      dem = num + ((x_train[i]-x_train.mean())*(x_train[i]-x_train.mean()))
    self.m = num/dem
    self.b = y_train.mean() - (self.m * x_train().mean())

    print(self.m)
    print(self.b)

  def predict(self,x_test):
    pred = self.m * x_test + self.b
    return pred

In [65]:
y_train[800]

28.0

In [51]:
lr = Mylr()

In [52]:
lr.fit(x_train,y_train)

KeyError: ignored